html {
    background-color: rgb(229, 217, 242);
}
div.coverImage {
    width: 1000px;
    height: auto;
    display: block;
    align-content: center;
    display: block; /* Makes the image a block element */
    margin: 0 auto; /*Centers the image*/
    border: 1px solid #ccc; /* Adds a border */
    padding: 5px;  /* Adds padding around the image */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}
img {
    width: 100%;
    height: 100%;
}
div.content {
    margin-left: 10px;
    margin-right: 15%;
}
#recipe-title, h2 {
    text-align: center;
}
/* .black-text {
    color: white;
    align-content: center;
    align-items: center;
    text-align-last: center;
    background-color: rgba(245, 245, 220, 0.37);
} */